@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Draw";
}

<h1>Draw entry</h1>
<p>
    Buy one of our infinite many products and submit the serial code here<br />
    for a chance of winning <b>A</b> <b>C</b>ompany that <b>M</b>akes <b>E</b>verything  <font size="-2">The cake is a lie, as is this draw</font>
</p>
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Submissions">Click here to view submissions!</a> <br>
    </p>
}
else
{
    <p>
        <a asp-action="Create">Click here to enter the draw!</a> <br>
        Your data may be used explosively!
    </p>
}


