@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://looneytunes.fandom.com/wiki/ACME"> ACME Corporation</a>.</p>
        <img src="~/img/acme-corporation.jpg" alt="Acme Corporation Logo" />
    </div>
