@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <img src="~/img/acme-corporation.jpg" alt="Acme Corporation Logo" />
        <p>
            ACME Corporation is a dedicated Yellow Pages front runner.<br />
            We are the cartoon universe most prominent supplier of various products, <br /> covering everything you could possible imagine.
            <br /> <br />
            Learn more about <a href="https://looneytunes.fandom.com/wiki/ACME"> ACME Corporation</a>.
        </p>

    </div>
