@{
    ViewData["Title"] = "Privacy Policy and Credits";
}
<h1>@ViewData["Title"]</h1>

<p>
    ACME Corporation cannot be held liable for any damages happening to your data. <br />
    <b>This includes:</b> <br />
    Data blown to bits <br />
    Data eaten bit by bit <br />
    Bytes flipped by fast moving animal<br />
    <br />
    <h2>Credits</h2>
    Content on this page has been borrowed from <a href="https://looneytunes.fandom.com/wiki/ACME">https://looneytunes.fandom.com/wiki/ACME</a><br /><br />
    Movie database created with information from the public Wikipedia page: <a href="https://en.wikipedia.org/wiki/Wile_E._Coyote_and_the_Road_Runner">https://en.wikipedia.org/wiki/Wile_E._Coyote_and_the_Road_Runner</a>
</p>
