@{
    ViewData["Title"] = "Privacy Policy and Credits";
}
<h1>@ViewData["Title"]</h1>

<p>
    Content on this page has been borrowed from <a href="https://looneytunes.fandom.com/wiki/ACME">https://looneytunes.fandom.com/wiki/ACME</a><br /><br />
    Movie database created with information from the public Wikipedia page: <a href="https://en.wikipedia.org/wiki/Wile_E._Coyote_and_the_Road_Runner">https://en.wikipedia.org/wiki/Wile_E._Coyote_and_the_Road_Runner</a>
</p>
